<!DOCTYPE html>
<html lang="en">
<head>
  <title>react-set-animate</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-site-verification" content="c242Hf9YyeiK5d9ElD3r4JPDEmCMs7FUBAzcK-WpAtE" />

  <!-- prerender support -->
  <meta name="fragment" content="!">

  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/solarized_light.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/codemirror.min.css">
  {{#unless __DEV__}}
  <link rel="stylesheet" href="/assets/app-{{__ts__}}.css">
  {{/unless}}

</head>
<body>
  {{#unless __DEV__}}
  {{#if react}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react-dom.min.js"></script>
  {{/if}}
  {{#if hljs}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/http.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/javascript.min.js"></script>
  {{/if}}
  {{#if remarkable}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.4.1/remarkable.min.js"></script>
  {{/if}}
  {{#if moment}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  {{/if}}
  {{/unless}}
  {{#if stripe}}
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  {{/if}}
  {{#if recaptcha}}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {{/if}}
  {{#if jquery}}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  {{/if}}
  {{{ contents }}}
</body>
</html>
