.billing-details {
  @include span-columns(6);

  @include media($phablet) {
    @include span-columns(12);
  }

  button, .button {
    width: 100%;
  }
}

.billing-plan {
    padding: $base-spacing / 2;
    border: 1px solid $lightest-purple;
}

.billing-plan:hover {
  border: 1px solid $lightest-purple;
  background-color: white;
  border-radius: 3px;
}

.selected-plan {
  border: 1px solid $purple;
  border-radius: 3px;
  padding: $base-spacing / 2;
}

.pill {
  font-size: 75%;
  float: right;
  background-color: $purple;
  color: $lightest-purple;
  text-transform: uppercase;
  font-weight: 300;
  padding: 5px;
  border-radius: 3px;
}

.payment-info {
  @include span-columns(12);
  text-align: left;
}

.cardNumber {
  @include span-columns(6);
}

.cvc {
  @include span-columns(2);
}

.exp {
  @include span-columns(2);
}

.checkout {
  @include span-columns(4);
  @include shift(2);
  text-align: right;

  @include media($tablet) {
    @include span-columns(12);
    @include shift(0);
    margin-top: $base-spacing;
    text-align: center;
  }
}
