.bucket-list {
  margin-bottom: $base-spacing;

  .bucket-item {
    @include clearfix;
    @include card;
    padding: $base-spacing;

    .bucket-meta {
      @include span-columns(8);
      cursor: pointer;

      @include media($phablet) {
        @include span-columns(12);
        text-align: center;
      }
    }

    .submission-count {
      @include span-columns(4);
      @include omega();
      float: right;

      button {
        margin-top: $base-spacing / 2;
        width: 100%;
      }

      @include media($phablet) {
        @include span-columns(12);
      }
    }
  }
}

.toggle-switch {
  margin-right: $base-spacing / 2;
}

.callout-controls {
  padding: $base-spacing;
  border: 1px solid $purple;
  border-radius: $base-border-radius;
  margin-bottom: $base-spacing;

  .format {
    @include span-columns(8);
    margin-top: $base-spacing;
    text-align: left;

    @include media($phablet) {
      @include span-columns(12);
      text-align: center;
    }
  }

  .pagination {
    @include span-columns(4);
    margin-top: $base-spacing / 2;
    text-align: right;

    @include media($phablet) {
      width: 100%;
      text-align: center;
    }

    button {
      border: 1px solid $purple;
      background: none;
      color: $purple;
      padding: $small-spacing / 2 $base-spacing / 2;
    }
  }

  @include clearfix;
}
