.bucket-details {
  @include span-columns(7);

  @include media($phablet) {
    @include span-columns(12);
  }

  button, .button {
    width: 100%;
  }

  .button-delete {
    background-color: $delete-color;
  }

  .button-delete:active, .button-delete:focus {
    background-color: darken($delete-color, 20%);
  }

  .button-delete:hover {
    background-color: darken($delete-color, 10%);
  }
}

.autoresponder {
  margin-top: $base-spacing;
}

.autoresponder-wrapper {
  padding: $base-spacing;
  background-color: white;
  border-radius: $base-border-radius;
}

.cc-emails {
  margin-top: $base-spacing / 2;
}

.label-switch {
  $base-background-color: white;
  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $switch-radius: $switch-height;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-radius: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;
  $switch-background: $base-background-color;
  $switch-border-background: darken($base-background-color, 9%);
  $switch-shadow: 0 2px 5px transparentize(black, 0.6);

  margin-bottom: $base-spacing;
  border-radius: $switch-radius;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;

  span {
    position: relative;
    width: 100px;
  }

  input[type="checkbox"] {
    display: none;

    + .checkbox {
      @include transition(all 0.3s ease);
      background: $switch-border-background;
      border-radius: $switch-radius;
      border: none;
      cursor: pointer;
      height: $switch-height;
      margin: 0;
      padding: 0;
      position: relative;
      width: $switch-width;
      z-index: 0;

      &:before {
        @include position(absolute, 2px 0 0 2px);
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        background: $switch-background;
        border-radius: $switch-radius;
        content: "";
        height: $knob-radius;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &:after {
        @include position(absolute, 2px 0 0 2px);
        @include transition(all 0.3s ease);
        @include size($knob-size);
        background: $switch-background;
        border-radius: $knob-radius;
        box-shadow: $switch-shadow;
        content: "";
        z-index: 2;
      }
    }

    &:checked {
      + .checkbox {
        background: $action-color;

        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}

.spam-protection {
  margin-top: $base-spacing;
}

.public-DraftEditor-content {
  min-height: 10em;
}

.bucket-preview {
  @include span-columns(5);
  @include omega();
  @include card;
  padding: $base-spacing / 2 $base-spacing;

  .quick-use {
    padding: 0 $base-spacing;
    border: 1px solid $purple;
    border-radius: $base-border-radius;
    background-color: white;
    @include animation(pulse .75s ease-in-out 1);
    @include animation-delay(.25s);
  }

  .bucket-editor {
    margin-bottom: $base-spacing;
  }

  @include media($tablet) {
    @include span-columns(12);
    @include shift(0);
    text-align: center;
  }
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.25);}
  100% {transform: scale(1);}
}
