.form-section {
  @include span-columns(12);
  @include clearfix;
}

.form-left {
  @include span-columns(6);

  @include media($phablet) {
    @include span-columns(12);
    margin-top: $base-spacing;
  }
}

.form-right {
  @include span-columns(6);

  @include media($phablet) {
    @include span-columns(12);
    margin-top: $base-spacing;
  }
}

.dead-center {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  text-align: center;

  p {
    opacity:0.5;
  }
}
