.accordion-tabs-minimal {
  $base-border-color: $purple;
  $base-background-color: $lightest-purple;
  $base-spacing: 1.5em;
  $tab-link-color: $purple;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: none;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  li.tab-header-and-content {
    list-style: none;

    @include media($medium-screen-up) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    color: $tab-link-color;
    display: block;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;

    @include media($medium-screen-up) {
      @include inline-block;
      border-top: 0;
    }

    @include media($mobile) {
      border: 0;
      padding: 0;
      font-weight: bold;
    }

    &:hover {
      color: $action-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;
      background-color: none;

      @include media($medium-screen-up) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    padding: $base-spacing 0;
    width: 100%;

    @include media($medium-screen-up) {
      border-top: $tab-border;
      float: left;
    }
  }
}

.callout {
  padding: $base-spacing;
  border: 1px solid $light-green;
  border-radius: $base-border-radius;
  margin-bottom: $base-spacing;

  p {
    @include span-columns(8);
    margin-top: $base-spacing / 2;
    text-align: left;

    @include media($phablet) {
      @include span-columns(12);
      text-align: center;
    }
  }

  button {
    @include span-columns(4);
    @include media($phablet) {
      width: 100%;
    }
  }

  @include clearfix;
}
