.top-avatar {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
  background: $lightest-purple;
  color: $purple;
  text-align: center;
}

/* Sub-menu container */
.sub-menu {
  min-width: 300px;
  @include clearfix;
  height: auto;
  background: white;
  border: 1px solid $lightest-purple;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.20);
  border-radius: $base-border-radius;
  position: absolute;
  right: 0px;
  top: 66px;

  @include media($large-screen) {
    @include span-columns(2);
  }

  @include media($medium-screen) {
    @include span-columns(4);
  }

  @include media($phablet) {
    @include span-columns(12);
    margin-top: $base-spacing * 5;
    border-radius: 0;
  }

  a {
    color: $purple;
    text-decoration: none;

    &.active .menu-item {
      background-color: $lightest-purple;
      .avatar {
        background: #fff;
      }
    }

  }

  .menu-item {
    @include span-columns(12);
    transition: all 0.3s ease;

    .account {
      @include clearfix;
      padding: 1em;
      border-bottom: 1px solid $lightest-purple;

      .avatar {
        @include span-columns(2);
        height: 30px;
        width: 30px;
        line-height: 30px;
        border-radius: 15px;
        background: $lightest-purple;
        text-align: center;
      }

      .name {
        @include span-columns(10);
        line-height: 30px;
      }
    }

    .new {
      .avatar {
        line-height: 30px;
        background: $green;
        color: white;
        border: none;
      }

      .name {
        color: $green;
      }
    }

    .actions {
      padding-left: 1.5em;
    }


    &:hover {
      background: $lightest-purple;

      .account {

        .avatar {
          background: $purple;
          color: white;
          transition: all 0.3s ease;
        }
      }
      .new {
        .avatar {
          background: $green;
        }
      }
    }

    .active {
      background: $lightest-purple;

      .account {

        .avatar {
          background: $purple;
          color: white;
        }
      }
    }
  }

}
